<section aria-labelledby="drawpen-title">
    <header class="relative px-6 py-15 my-10 lg:px-8 border-y border-gray-300">
        <div class="mx-auto max-w-2xl text-center">
            <h2 id="drawpen-title" class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                Elevate your presentations
            </h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600">
                Annotate your screen — all in one simple tool designed for clear and effective presentations.
            </p>

            <nav aria-label="Download DrawPen" class="mt-10 flex flex-wrap items-center justify-center gap-x-6 gap-y-4">
                <a href="https://github.com/DmytroVasin/DrawPen/releases/latest/download/DrawPen.Setup.exe">
                    <img src="/BadgeWindows.png" alt="Download for Windows" width="200" height="60" loading="lazy">
                </a>

                <a href="https://github.com/DmytroVasin/DrawPen/releases/latest/download/DrawPen-0.0.40-arm64.dmg">
                    <img src="/BadgeMacOS.png" alt="Download for macOS" width="200" height="60" loading="lazy">
                </a>

                <a href="https://github.com/DmytroVasin/DrawPen/releases/latest/download/drawpen_0.0.40_amd64.deb">
                    <img src="/BadgeLinux.png" alt="Download for Linux" width="200" height="60" loading="lazy">
                </a>
            </nav>
        </div>
    </header>
</section>
