<footer role="contentinfo">
    <div class="mx-auto py-8 max-w-[90%] border-t border-gray-900/10">
        <div class="max-w-7xl md:flex md:items-center md:justify-between">
            <p class="mt-8 text-xs leading-5 text-gray-500 md:order-1 md:mt-0">
                <time datetime={new Date().getFullYear().toString()}>
                    {new Date().getFullYear()}
                </time>
                <a 
                    href="https://github.com/DmytroVasin/DrawPen" 
                    class="hover:underline underline-offset-4"
                    rel="noopener noreferrer"
                >
                    DrawPen
                </a>. 
                MIT-licensed & open-source.
            </p>
        </div>
    </div>
</footer>
