<section class="relative flex flex-col items-center px-8 bg-linear-210 from-teal-400 from-10% via-blue-500 via-50% to-purple-600 to-90%">

    <header class="z-10 relative w-full max-w-6xl mt-6">
        <nav class="flex justify-between items-center" aria-label="Main navigation">
            <a href="/" class="flex items-center gap-1.5" aria-label="Homepage">
                <img alt="DrawPen Icon" src="/icon.png" class="w-12 h-12">
                <span class="text-white font-semibold text-lg">DrawPen</span>
            </a>
            <ul class="flex items-center gap-6">
                <li>
                    <a href="#faq" class="text-white">FAQ</a>
                </li>
                <li>
                    <a href="https://github.com/DmytroVasin/DrawPen" target="_blank" rel="noopener noreferrer" class="text-white">GitHub</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="flex-1 flex flex-col items-center justify-center text-center py-12 md:py-32 max-w-full w-[480px] z-10 relative">
        <h1 class="text-4xl/12 md:text-5xl/16 text-white mb-4">Annotate your screen</h1>
        <h3 class="text-2xl text-white">An open-source screen recorder built with web technology.</h3>
        <div class="w-md mx-8 mt-8">
            <a href="https://github.com/wulkano/kap" class="text-xs text-white">View and contribute on GitHub</a>
        </div>
    </div>

    <div class="absolute top-0 -bottom-px left-0 w-full overflow-hidden">
        <div class="absolute bottom-0 left-1/2 -translate-x-1/2 w-[190vw] pb-[4.5%] [background:url(curve-mobile.svg)_bottom] bg-cover! -mb-[3px]"></div>
    </div>

    <div class="relative -bottom-px z-50 max-w-md w-full shadow bg-white rounded-sm mx-8 -mb-4">
        <img 
            src="app-light.webp" 
            alt="toolbar image" 
            class="w-full h-auto block rounded-sm"
        >
    </div>
</section>