<section class="relative flex flex-col items-center px-8">
    <div class="absolute top-0 left-0 w-full h-full bg-linear-210 from-teal-400 from-10% via-blue-500 via-50% to-purple-600 to-90% [clip-path:ellipse(120%_100%_at_50%_0)] -z-10"></div>

    <header class="mt-16 w-full z-10 relative">
        <nav class="flex justify-between items-center w-6xl mx-auto">
        <div>
            <a href="/" class="flex items-center gap-3">
            <img alt="DrawPen Icon" src="/icon.png" class="w-12 h-12">
            <div class="text-white">DrawPen</div>
            </a>
        </div>
        
        <div class="flex items-center gap-12">
            <a href="#faq" class="text-white">FAQ</a>
            <a href="https://github.com/DmytroVasin/DrawPen" target="_blank" class="text-white">GitHub</a>
        </div>
        </nav>
    </header>

    <div class="flex-1 flex flex-col items-center justify-center text-center py-32 w-md z-10 relative">
        <h1 class="text-5xl/16 text-white mb-4">Annotate your screen</h1>
        <h3 class="text-2xl text-white">An open-source screen recorder built with web technology.</h3>
        <div class="w-md mx-8 mt-8">
        <a href="https://github.com/wulkano/kap" class="text-xs text-white">View and contribute on GitHub</a>
        </div>
    </div>

    <div class="max-w-md max-h-16 w-full h-16 shadow-2xl absolute -bottom-5 z-10">
        <img alt="The Kap Window" src="/app-light.webp" decoding="async" />
    </div>
</section>